* {
  padding: 0;
  margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vh;
}

.app-loader {
    background-color: dimgray;
}
